<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">게시글 조회</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              <div class="mb-3">
                <label for="bno" class="form-label">BNO</label>
                <input type="text" class="form-control" id="bno" name="bno" th:value="${dto.bno}" readonly />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">TITLE</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" readonly />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">CONTENT</label>
                <textarea class="form-control" id="content" name="content" rows="10" readonly>
[[${dto.content}]]</textarea
                >
              </div>
              <div class="mb-3">
                <label for="createDateTime" class="form-label">CREATEDATE</label>
                <input
                  type="text"
                  class="form-control"
                  id="createDateTime"
                  name="createDateTime"
                  th:value="${#temporals.format(dto.createDateTime, 'yyyy-MM-dd HH:mm')}"
                  readonly
                />
              </div>
              <a
                type="submit"
                class="btn btn-success"
                th:if="${dto.writerEmail} == ${#authentication.name}"
                th:href="@{/board/modify(bno=${dto.bno}, page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}"
                >수정</a
              >
              <a
                type="button"
                class="btn btn-primary"
                th:href="@{/board/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}"
                >목록</a
              >
              <!-- <input type="hidden" name="page" th:value="${pageRequestDTO.page}" /> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 댓글 영역 -->
    <div class="card">
      <div class="card-body">
        <form th:action="@{/replies/new}" method="post" id="replyForm" sec:authorize="isAuthenticated()">
          <input type="hidden" name="rno" />
          <!-- 로그인 사용자의 아이디에 해당하는 이메일 -->
          <input type="hidden" name="replyerEmail" th:value="${#authentication.name}" />
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="replyerName"
              name="replyerName"
              th:value="${#authentication.principal.name}"
              sec:authorize="isAuthenticated()"
              readonly
            />
            <!-- 로그인 안 한 경우 -->
            <p class="text-danger" sec:authorize="!isAuthenticated()">
              댓글을 작성하려면 <a th:href="@{/member/login}">로그인</a>하세요.
            </p>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              id="text"
              name="text"
              rows="3"
              placeholder="내용"
              sec:authorize="isAuthenticated()"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary" name="rbtn" sec:authorize="isAuthenticated()">댓글 작성</button>
          <p></p>
        </form>
        <h5 class="card-title fw-semibold mb-4"><span>[[${dto.replyCnt}]]</span> 개의 댓글</h5>
        <div class="replyList border px-2"></div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <!-- 페이지별 개별 javascript 작성 -->
    <script th:inline="javascript">
      let msg = [[${msg}]];
      const bno = [[${dto.bno}]]
      // replyForm 에서 CSRF 값 가져오기
      const csrfVal = document.querySelector("#replyForm").querySelector("[name='_csrf']").value;
      console.log(msg);
      if (msg) {

          Swal.fire({ title: msg, icon: "success", draggable: true });
      }
    </script>
    <script th:src="@{/js/read.js}"></script>
  </th:block>
</html>
